* {
  margin: 0px;
  padding: 0px;
}

html, body {
  font-family:"Oswald", sans-serif;
  color: black;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: 100%;
  font-size: 1em;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
}



#tabbedPaneContainer {
  background: #F5F5F5;
  height: 100%;
  width: 20%;
  min-width: 300px;
  float: left;
  overflow-y: auto;
  overflow-x: hidden;
}

#simulationContainer {
  background: #262B30;
  height: 100%;
  flex: 1;
  color: white;
  overflow: hidden;
}

/*Loading splash screen*/
#loadingSplash {
  width: 100%;
  height: 100%;
  background: #262B30;
  position:absolute;
  top: 0px;
  left: 0px;
  opacity: 1;
  transition: opacity 500ms;
}
#loadingSplashIcon {
  height: 5em;
  display: block;
  margin: 0 auto;
  margin-top: 15%;
  -webkit-animation:spin 3s linear infinite;
  -moz-animation:spin 3s linear infinite;
  animation:spin 3s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
#loadingSplashLogoText {
  color: #F5F5F5;
  font-size: 8em;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-align: center;
  font-weight: normal;
}
#loadingSplashLoadingText {
  color: #F5F5F5;
  font-size: 1.2em;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-align: center;
}


/*Tab editor styles*/
#tabbedPaneContainer .editorSection {

}

#tabbedPaneContainer .sectionHeader {
  width: 100%;
  font-size: 1.2em;
  text-align: center;
  padding: 15px 0 5px 0;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
}

fieldset {
  border: none;
}

#tabbedPaneContainer .editorProperty {
  width: 100%;
  margin-top: 5px;
}

#tabbedPaneContainer .editorProperty p {
  text-align: right;
  width: 35%;
  float: left;
  padding: 0 5% 0 0;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
}

#tabbedPaneContainer .editorProperty input {
  width: 55%;
}

#tabbedPaneContainer .editorProperty select {
  width: 55%;
}

#fanButtonsWrapper {
  width:100%;
  margin-top: 5px;
  visibility: hidden;
}

#fanButtonsWrapper button {
  width: 140px;
  height: 140px;
  text-align: center;
  background: #F5F5F5;
  border: none;
  font-family:"Oswald", sans-serif;
  color: black;
  font-size: 1.2em;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  border-radius: 4px;
  transition: all 200ms;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.8;
}

.fanButtonWrapper {
  width:50%;
  height:140px;
  float: left;
}

#fanButtonsWrapper img {
  width: 120px;
  height: 120px;
  margin-top: 10px;
}

#fanButtonsWrapper button:enabled {
  opacity: 0.8;
}

#fanButtonsWrapper button:disabled {
  opacity: 0.2;
}

#fanButtonsWrapper button:hover {
  opacity: 1.0;
}

#projectButtonsWrapper {

}

#projectButtonsWrapper button {
  width: 33.333%;
  text-align: center;
  background: #CFCFCF;
  float: left;
  border: none;
  border-left: 2px black;
  font-family:"Oswald", sans-serif;
  color: black;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: 100%;
  font-size: 1.2em;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  transition: all 200ms;
}

#projectButtonsWrapper button:enabled {

}

#projectButtonsWrapper button:disabled {
  background: #939393;
}

#projectButtonsWrapper button:hover {
  color: #6B6B6B;
}


.chartWrapper {
  width:100%;
  text-align: center;
}

tabs {
  width: 100%;
}

.inactiveTab {
  background: #939393;
  width: 50%;
  text-align: center;
  float: left;
  text-decoration: none;
  color: black;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  font-size: 1.4em;
}

.inactiveTab:hover {
  background: #CFCFCF;
}

.activeTab {
  background: #F5F5F5;
  width: 50%;
  text-align: center;
  float: left;
  text-decoration: none;
  color: black;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  font-size: 1.4em;
}

.activeTab:hover {
  background: #F5F5F5;
}

.activeTab a {
  text-decoration: none;
  color: black;
}

.inactiveTab a {
  text-decoration: none;
  color: black;
}

.editorForm input.ng-dirty::after {
  /*Not working on input text boxes, seems to do something on gender radio select*/
  content: "*";
}

input[readonly] {
    background-color: #F5F5F5;
    border: none;
    text-align: center;
}

#helpBoxButtonWrapper {
  position: absolute;
  top: 0px;
  right: 0px;
  visibility: hidden;
}

#helpBoxButtonWrapper button{
  width: 50px;
  text-align: center;
  background: #262B30;
  float: right;
  border: none;
  font-style: normal;
  font-family:"Oswald", sans-serif;
  color: #CFCFCF;
  font-size: 2em;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  border-radius: 4px;
  transition: all 200ms;
}

#helpBoxButtonWrapper button:hover {
  background: #939393;
}

#helpBoxButtonWrapper img {
  width: 30px;
  height: auto;
  margin-top: 10px;
  margin-bottom: auto;
}

.popupBox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 45%;
  min-width: 450px;
  height: 65%;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 400ms;
  visibility: hidden;
  opacity: 0;
  color: #F5F5F5;
  border-radius: 10px;
}

.popupBox p {
  margin-left: 15px;
  margin-right: 15px;
}

.popupCloseButton {
  font-family: Arial, sans-serif;
  position: absolute;
  top: 1px;
  right: 15px;
  font-size: 100px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

.popupCloseButton:hover {
  color: #00CDFF;
  cursor: default;
}

#helpPopupBox h1 {
  text-align: center;
  font-style: none;
  text-decoration: underline;
  font-size: 1.2em;
  font-color: #F5F5F5;
  border-bottom: 2px;
  border-color: #F5F5F5;
  padding-top: 10px;
}
  
.helpTextFooterLink {
  font-style: none;
  color: #CFCFCF;
  text-decoration: underline;
}

#helpPopupBox p {
  margin-top: 10px;
}

.helpTextFooter {
  margin-top: 8px;
  text-align: center;
}

#settingsPopupBox h1 {
  text-align: center;
  font-size: 1.2em;
  font-color: #F5F5F5;
  border-bottom: 2px;
  border-color: #F5F5F5;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Results Panel Stats */

#resultsPanel .resultsExplanationTitle {
  width: 100%;
  text-align: center;
  margin: 5px 0 5px 0;
  font-size: 1.1em;
}

#resultsPanel .resultsExplanationDesc {
  width: 90%;
  margin: 0 0 5px 5%;
  font-size: 0.9em;
}

.resultsExplanationWrapper {
  background: #CFCFCF;
}

#overallRatingWrapper {
  padding: 5px 0 10px 0;
  background: #CFCFCF;
}

#overallRatingWrapper .ratingBreakdownPoint {
  width: 90%;
  margin: 0 0 5px 5%;
  font-size: 0.9em;
}

#resultsPanel .editorProperty p {
  width: 60%;
  text-align: center;
}

#resultsPanel .editorProperty input {
  width: 35%;
}

.chartKeyWrapper {
  height: 25px;
  margin-bottom: 15px;
  width: 100%;
}

.chartKeyWrapper p {
  text-align: left;
}

.keyElement {
  width: 50%;
  float: left;
}

.keyIcon {
  width: 25px;
  height: 25px;
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 25px;
}

.chartHeader {
  width: 100%;
  text-align: left;
  text-decoration: underline;
  margin-left: 15px;
  margin-bottom: 15px;
}


#particleSuccessRatioSuccessfulIcon {
  background: #519C52;
}

#particleSuccessRatioFailedIcon {
  background: #CF5157;
}

#fanRatioIntakeIcon {
  background: #4D82B3;
}

#fanRatioExhaustIcon {
  background: #003566;
}

