* {
  margin: 0px;
  padding: 0px;
}

html, body {
  font-family:"Oswald", sans-serif;
  color: black;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: 100%;
  font-size: 1em;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
}



#tabbedPaneContainer {
  background: #F5F5F5;
  height: 100%;
  width: 20%;
  min-width: 300px;
  float: left;
  overflow: auto;
}

#simulationContainer {
  background: #262B30;
  height: 100%;
  flex: 1;
  color: white;
  overflow: hidden;
}

/*Loading splash screen*/
#loadingSplash {
  width: 100%;
  height: 100%;
  background: #262B30;
  position:absolute;
  top: 0px;
  left: 0px;
  opacity: 1;
  transition: opacity 1s;
}
#loadingSplashIcon {
  height: 5em;
  display: block;
  margin: 0 auto;
  margin-top: 15%;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
#loadingSplashLogoText {
  color: #F5F5F5;
  font-size: 8em;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-align: center;
  font-weight: normal;
}
#loadingSplashLoadingText {
  color: #F5F5F5;
  font-size: 1.2em;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-align: center;
}


/*Tab editor styles*/
#tabbedPaneContainer .editorSection {
 border-bottom: 1px solid black;
}

#tabbedPaneContainer .sectionHeader {
  width: 100%;
  font-size: 1.2em;
  text-align: center;
  padding: 5px 0 5px 0;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
}

fieldset {
  border: none;
}

#tabbedPaneContainer .editorProperty {
  width: 100%;
}

#tabbedPaneContainer .editorProperty p {
  text-align: right;
  width: 35%;
  float: left;
  padding: 0 5% 0 0;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
}

#tabbedPaneContainer .editorProperty input {
  width: 55%;
}

tabs {
  width: 100%;
}

.inactiveTab {
  background: #939393;
  width: 50%;
  text-align: center;
  float: left;
  text-decoration: none;
  color: black;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  font-size: 1.4em;
}

.activeTab {
  background: #F5F5F5;
  width: 50%;
  text-align: center;
  float: left;
  text-decoration: none;
  color: black;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  font-size: 1.4em;
}

.activeTab a {
  text-decoration: none;
  color: black;
}

.inactiveTab a {
  text-decoration: none;
  color: black;
}

.editorForm input.ng-dirty::after {
  /*Not working on input text boxes, seems to do something on gender radio select*/
  content: "*";
}

input[readonly]
{
    background-color: #F5F5F5;
    border: none;
    text-align: center;
}