* {
  margin: 0px;
  padding: 0px;
}

html, body {
  font-family:"Oswald", sans-serif;
  color: black;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: 100%;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
}

#tabbedPaneContainer {
  background: #F5F5F5;
  height: 100%;
  width: 20%;
  min-width: 300px;
  float: left;
  overflow: auto;
}

#simulationContainer {
  background: #262B30;
  height: 100%;
  flex: 1;
  color: white;
  overflow: hidden;
}



/*Tab editor styles*/
#tabbedPaneContainer .editorSection {
 border-bottom: 1px solid black;
}

#tabbedPaneContainer .sectionHeader {
  width: 100%;
  font-size: 120%;
  text-align: center;
  padding: 5px 0 5px 0;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
}

#tabbedPaneContainer .editorProperty {
  width: 100%;
}

#tabbedPaneContainer .editorProperty p {
  text-align: right;
  width: 35%;
  float: left;
  padding: 0 5% 0 0;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
}

#tabbedPaneContainer .editorProperty input {
  width: 55%;
}

.editorForm input.ng-dirty::after {
  /*Not working on input text boxes, seems to do something on gender radio select*/
  content: "*";
}

input[readonly]
{
    background-color: #F5F5F5;
    border: none;
    text-align: center;
}