<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>AirFlow</title>
		<meta name="description" content="AirFlow is a web application that helps you visualise and optimise your computers air cooling.">
		<link href='http://fonts.googleapis.com/css?family=Oswald:700,400' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
		<link href="css/index.css" rel="stylesheet"/>
		<link rel="icon" href="/images/favicon.png">
		<script src="js/build.js"></script>		
		<script src="js/external/stats.min.js"></script>			
	</head>
	<body ng-app="AirFlowApp">
		<div class="main" ng-controller="MainController">

			<div id="loadingSplash" ng-click="hideSplash()">
				<img src="/images/logo_icon.svg" alt="AirFlow logo" id="loadingSplashIcon"> 
				<h1 id="loadingSplashLogoText">AIRFLOW</h1>
				<p id="loadingSplashLoadingText">Loading...</p>
			</div>

			<div id="tabbedPaneContainer">
				<tabs>
					<tab heading="Settings">	
						<project-Settings></project-Settings>
						<environment-Settings></environment-Settings>
						<component-Settings></component-Settings>
						<button ng-click="addNewFan()">Add a Fan</button>
					</tab>						
					<tab heading="Results">
						<results-Panel></results-Panel>
					</tab>
				</tabs>
			</div>

			<div id="simulationContainer">
				<simulation></simulation>
			</div>			

		</div>
	</body>
</html>
