<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>AirFlow</title>
		<meta name="description" content="AirFlow is a web application that helps you visualise and optimise your computers air cooling.">
		<link href='http://fonts.googleapis.com/css?family=Oswald:700,400' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
		<link href="css/index.css" rel="stylesheet"/>
		<link rel="icon" href="/images/favicon.png">
		<script src="js/build.js"></script>		
		<script src="js/external/stats.min.js"></script>			
	</head>
	<body ng-app="AirFlowApp">
		<div class="main" ng-controller="MainController">

			<div id="loadingSplash" ng-click="hideSplash()">
				<img src="/images/logo_icon.svg" alt="AirFlow logo" id="loadingSplashIcon"> 
				<h1 id="loadingSplashLogoText">AIRFLOW</h1>
				<p id="loadingSplashLoadingText">Loading...</p>
			</div>
			<div id="tabbedPaneContainer">
				<tabs>
					<tab heading="Settings">
						<div id="projectButtonsWrapper">
							<button ng-click="newProject()">New project</button>	
							<button ng-click="saveProject()">Save</button>	
							<button ng-click="loadProject()">Load</button>	
						</div>
						<project-Details></project-Details>
						<!--<environment-Settings></environment-Settings>-->
						<component-Settings></component-Settings>
						<div id="fanButtonsWrapper">
							<div class="fanButtonWrapper">
								<button ng-click="addNewFan()" ng-disabled="addingFan"><img src="/images/fan_icon_add_active.png" alt="Add Fan"></button>
							</div>
							<div class="fanButtonWrapper">
								<button ng-click="deleteFan()" id="deleteFanBtn" ng-disabled="!editFan || overrideCompSettings"><img src="/images/fan_icon_delete_active.png" alt="Delete Fan"></button>
							</div>
						</div>
						<button ng-click="cancelAddingFan()" id="cancelAddFanButton" ng-disabled="!addingFan">Cancel add fan</button>
					</tab>						
					<tab heading="Results">
						<results-Panel></results-Panel>
					</tab>
				</tabs>
			</div>

			<div id="simulationContainer">
				<simulation></simulation>
			</div>

			<help-Box></help-Box>
			<settings-Box></settings-Box>

		</div>
	</body>
</html>
