<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>AirFlow</title>
		<meta name="description" content="AirFlow is a web application that helps you visualise and optimise your computers air cooling.">
		<link href='http://fonts.googleapis.com/css?family=Oswald:700,400' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
		<link href="css/index.css" rel="stylesheet"/>
		<link rel="icon" href="/images/favicon.png">
		<script src="js/build.js"></script>		
		<script src="js/external/stats.min.js"></script>			
	</head>
	<body ng-app="AirFlowApp" role="main">
		<div class="main" ng-controller="MainController">

			<div id="loadingSplash" ng-click="hideSplash()" role="presentation">
				<img src="/images/logo_icon.svg" alt="AirFlow logo" id="loadingSplashIcon"> 
				<h1 id="loadingSplashLogoText" role="heading">AIRFLOW</h1>
				<p id="loadingSplashLoadingText">Loading...</p>
			</div>
			<div id="tabbedPaneContainer">
				<tabs role="tabpanel">
					<tab heading="Settings" role="tablist">
						<div id="projectButtonsWrapper">
							<button ng-click="newProject()" role="button">New project</button>	
							<button ng-click="saveProject()" role="button">Save</button>	
							<button ng-click="loadProject()" role="button">Load</button>	
						</div>
						<project-Details></project-Details>
						<!--<environment-Settings></environment-Settings>-->
						<component-Settings></component-Settings>
						<div id="fanButtonsWrapper">
							<div class="fanButtonWrapper">
								<button ng-click="addNewFan()" ng-disabled="addingFan" role="button"><img src="/images/fan_icon_add_active.png" alt="Add Fan"></button>
							</div>
							<div class="fanButtonWrapper">
								<button ng-click="deleteFan()" id="deleteFanBtn" ng-disabled="!editFan || overrideCompSettings || fans.length <= 1" role="button"><img src="/images/fan_icon_delete_active.png" alt="Delete Fan"></button>
							</div>
						</div>
						<div id="cancelAddFanButton">
							<button ng-click="cancelAddingFan()" ng-disabled="!addingFan" role="button">Cancel adding fan</button>
						</div>
					</tab>						
					<tab heading="Results" role="tablist">
						<results-Panel></results-Panel>
					</tab>
				</tabs>
			</div>

			<div id="simulationContainer" role="application">
				<simulation></simulation>
			</div>

			<help-Box></help-Box>
		</div>
	</body>
</html>
