<div class="editorSection" ng-controller="ComponentController">
  <form novalidate class="editorForm">
  	<p class="sectionHeader">Component Settings</p>
    <div class="editorProperty">
    	<p>Mode: </p>
    	<input type="text" ng-model="editFan.mode"/>
    </div>
    <div class="editorProperty">
    	<p>Max RPM: </p>
    	<input type="number" ng-model="editFan.maxRPM"/>
    </div>
    <div class="editorProperty">
    	<p>Size (mm): </p>
    	<input type="number" ng-model="editFan.size"/>
    </div>
    <div class="editorProperty">
      <p>Current RPM (%): </p>
      <input type="number" ng-model="editFan.percentageRPM"/>
    </div>
    <div class="editorProperty">
      <p>FORCE Z: </p>
      <input type="number" ng-model="editFan.forceVector.z"/>
    </div>
    <div class="editorProperty">
      <p>Date created: </p>
      <input type="date" ng-readonly="true" ng-model="editFan.dateCreated"/>
    </div>
        <div class="editorProperty">
      <p>Date modified: </p>
      <input class="123" type="date" ng-readonly="true" ng-model="editFan.dateModified"/>
    </div>
</div>