<div class="editorSection" ng-controller="ProjectSettingsController">
  <form novalidate class="editorForm">
  	<p class="sectionHeader">Project Settings</p>
    <div class="editorProperty">
    	<p>Project Name: </p>
    	<input type="text" ng-model="settings.projectName"/>
    </div>
    <div class="editorProperty">
    	<p>Author: </p>
    	<input type="text" ng-model="settings.author"/>
    </div>
    <div class="editorProperty">
    	<p>Version: </p>
    	<input type="number" ng-model="settings.version"/>
    </div>
    <div class="editorProperty">
      <p>Date created: </p>
      <input type="date" ng-readonly="true" ng-model="settings.dateCreated"/>
    </div>
        <div class="editorProperty">
      <p>Date modified: </p>
      <input class="123" type="date" ng-readonly="true" ng-model="settings.dateModified"/>
    </div>




    Gender: <input type="radio" ng-model="settings.gender" value="male" />male
    <input type="radio" ng-model="settings.gender" value="female" />female<br />

    <input type="button" ng-click="reset()" value="Reset" />
    <input type="submit" ng-click="update(user)" value="Save" />
  </form>
  <pre>user = {{settings | json}}</pre>
  <pre>master = {{master | json}}</pre>
</div>