<div class="editorSection" id="resultsPanel" ng-controller="ResultsController">
  <form novalidate class="editorForm" role="form">
  	<p class="sectionHeader" role="heading">Results Overview</p>

    <div id="overallRatingWrapper">
      <p class="resultsExplanationTitle" id="overallRatingTitle"></p>
      <p class="ratingBreakdownPoint" id="breakdownNumFans"></p>
      <p class="ratingBreakdownPoint" id="breakdownParticleSuccessRatio"></p>
    </div>

    <div class="editorProperty">
      <p>Total Spawned Particles: </p>
      <input type="text" ng-readonly="true" ng-model="stats.spawnedParticles"/>
    </div>
    <div class="editorProperty">
      <p>Total Fans: </p>
      <input type="text" ng-readonly="true" ng-model="stats.numFans"/>
    </div>

    <p class="sectionHeader" role="heading">Detailed Results</p>

    <!-- Particle Success Ratio Chart-->

    <div class="chartWrapper" role="presentation">
      <p class="chartHeader" role="heading">Particle Success Ratio</p>
      <div class="chartKeyWrapper">
        <div class="keyElement">
          <div class="keyIcon" id="particleSuccessRatioSuccessfulIcon" role="presentation"></div>
          <p>Successful Particles</p>
        </div>
        <div class="keyElement">
          <div class="keyIcon" id="particleSuccessRatioFailedIcon" role="presentation"></div>
          <p>Culled Particles</p>
        </div>
      </div>
      <canvas id="particleSuccessRatioChart" width="200" height="200" role="presentation"></canvas>
    </div>
    <!--<div class="editorProperty">
      <p>Live Particles: </p>
      <input type="text" ng-readonly="true" ng-model="stats.particleLivePercentage"/>
    </div>-->
    <div class="editorProperty">
      <p>Successful Particles: </p>
      <input type="text" ng-readonly="true" ng-model="stats.particleSuccessPercentage"/>
    </div>
    <div class="editorProperty">
      <p>Culled Particles: </p>
      <input type="text" ng-readonly="true" ng-model="stats.particleFailurePercentage"/>
    </div>
    <div class="resultsExplanationWrapper">
      <p class="resultsExplanationTitle" id="particleSuccessRatioExplanationTitle"></p>
      <p class="resultsExplanationDesc" id="particleSuccessRatioExplanationDesc"></p>
    </div>

    <!-- Fan Ratio Chart -->

    <div class="chartWrapper" role="presentation">
      <p class="chartHeader" role="heading">Fan Ratio</p>
      <div class="chartKeyWrapper">
        <div class="keyElement">
          <div class="keyIcon" id="fanRatioIntakeIcon" role="presentation"></div>
          <p>Intake Fans</p>
        </div>
        <div class="keyElement">
          <div class="keyIcon" id="fanRatioExhaustIcon" role="presentation"></div>
          <p>Exhaust Fans</p>
        </div>
      </div>
      <canvas id="fanRatioChart" width="200" height="200" role="presentation"></canvas>
    </div>
    <div class="editorProperty">
      <p>Total Fans: </p>
      <input type="text" ng-readonly="true" ng-model="stats.numFans"/>
    </div>
    <div class="editorProperty">
      <p>Intake Fans: </p>
      <input type="text" ng-readonly="true" ng-model="stats.numIntakeFans"/>
    </div>
    <div class="editorProperty">
      <p>Exhaust Fans: </p>
      <input type="text" ng-readonly="true" ng-model="stats.numExhaustFans"/>
    </div>
    <div class="resultsExplanationWrapper">
        <p class="resultsExplanationTitle" id="fanRatioExplanationTitle"></p>
        <p class="resultsExplanationDesc" id="fanRatioExplanationDesc"></p>
    </div>
</div>