<div class="editorSection" id="resultsPanel" ng-controller="ResultsController">
  <form novalidate class="editorForm">
  	<p class="sectionHeader">Results</p>
    <div class="editorProperty">
      <p>Total Spawned Particles: </p>
      <input type="text" ng-readonly="true" ng-model="stats.spawnedParticles"/>
    </div>
    <div class="chartWrapper">
      <p class="sectionHeader">Particle Success Ratio</p>
      <div class="chartKeyWrapper">
        <div class="keyElement">
          <div class="keyIcon" id="particleSuccessRatioSuccessfulIcon"></div>
          <p>Successful Particles</p>
        </div>
        <div class="keyElement">
          <div class="keyIcon" id="particleSuccessRatioFailedIcon"></div>
          <p>Culled Particles</p>
        </div>
      </div>
      <canvas id="particleSuccessRatioChart" width="200" height="200"></canvas>
    </div>
    <div class="editorProperty">
      <p>Live Particles: </p>
      <input type="text" ng-readonly="true" ng-model="stats.particleLivePercentage"/>
    </div>
    <div class="editorProperty">
      <p>Successful Particles: </p>
      <input type="text" ng-readonly="true" ng-model="stats.particleSuccessPercentage"/>
    </div>
    <div class="editorProperty">
      <p>Culled Particles: </p>
      <input type="text" ng-readonly="true" ng-model="stats.particleFailurePercentage"/>
    </div>
</div>