<div class="editorSection" id="resultsPanel" ng-controller="ResultsController">
  <form novalidate class="editorForm">
  	<p class="sectionHeader">Results Overview</p>

    <div id="overallRatingWrapper">
      <p class="resultsExplanationTitle" id="overallRatingTitle">test title</p>
      <p class="ratingBreakdownPoint" id="breakdownNumFans">test num fans</p>
      <p class="ratingBreakdownPoint" id="breakdownParticleSuccessRatio">test ratio</p>
    </div>

    <div class="editorProperty">
      <p>Total Spawned Particles: </p>
      <input type="text" ng-readonly="true" ng-model="stats.spawnedParticles"/>
    </div>
    <div class="editorProperty">
      <p>Total Fans: </p>
      <input type="text" ng-readonly="true" ng-model="stats.numFans"/>
    </div>

    <p class="sectionHeader">Detailed Results</p>

    <!-- Particle Success Ratio Chart-->

    <div class="chartWrapper">
      <p class="chartHeader">Particle Success Ratio</p>
      <div class="chartKeyWrapper">
        <div class="keyElement">
          <div class="keyIcon" id="particleSuccessRatioSuccessfulIcon"></div>
          <p>Successful Particles</p>
        </div>
        <div class="keyElement">
          <div class="keyIcon" id="particleSuccessRatioFailedIcon"></div>
          <p>Culled Particles</p>
        </div>
      </div>
      <canvas id="particleSuccessRatioChart" width="200" height="200"></canvas>
    </div>
    <!--<div class="editorProperty">
      <p>Live Particles: </p>
      <input type="text" ng-readonly="true" ng-model="stats.particleLivePercentage"/>
    </div>-->
    <div class="editorProperty">
      <p>Successful Particles: </p>
      <input type="text" ng-readonly="true" ng-model="stats.particleSuccessPercentage"/>
    </div>
    <div class="editorProperty">
      <p>Culled Particles: </p>
      <input type="text" ng-readonly="true" ng-model="stats.particleFailurePercentage"/>
    </div>
    <div class="resultsExplanationWrapper">
      <p class="resultsExplanationTitle" id="particleSuccessRatioExplanationTitle"></p>
      <p class="resultsExplanationDesc" id="particleSuccessRatioExplanationDesc"></p>
    </div>

    <!-- Fan Ratio Chart -->

    <div class="chartWrapper">
      <p class="chartHeader">Fan Ratio</p>
      <div class="chartKeyWrapper">
        <div class="keyElement">
          <div class="keyIcon" id="fanRatioIntakeIcon"></div>
          <p>Intake Fans</p>
        </div>
        <div class="keyElement">
          <div class="keyIcon" id="fanRatioExhaustIcon"></div>
          <p>Exhaust Fans</p>
        </div>
      </div>
      <canvas id="fanRatioChart" width="200" height="200"></canvas>
    </div>
    <div class="editorProperty">
      <p>Total Fans: </p>
      <input type="text" ng-readonly="true" ng-model="stats.numFans"/>
    </div>
    <div class="editorProperty">
      <p>Intake Fans: </p>
      <input type="text" ng-readonly="true" ng-model="stats.numIntakeFans"/>
    </div>
    <div class="editorProperty">
      <p>Exhaust Fans: </p>
      <input type="text" ng-readonly="true" ng-model="stats.numExhaustFans"/>
    </div>
    <div class="resultsExplanationWrapper">
        <p class="resultsExplanationTitle" id="fanRatioExplanationTitle"></p>
        <p class="resultsExplanationDesc" id="fanRatioExplanationDesc"></p>
    </div>
</div>